*.a filter=lfs diff=lfs merge=lfs -text
*.so* filter=lfs diff=lfs merge=lfs -text
3rdParty/ogre/lib/libOgreTerrain.so filter=lfs diff=lfs merge=lfs -text
3rdParty/ogre/lib/libOgreVolume.so.1.12.12 filter=lfs diff=lfs merge=lfs -text
3rdParty/ogre/lib/libOgreBites.so.1.12.12 filter=lfs diff=lfs merge=lfs -text
3rdParty/ogre/lib/libOgreMain.so filter=lfs diff=lfs merge=lfs -text
3rdParty/ogre/lib/libOgreMeshLodGenerator.so.1.12.12 filter=lfs diff=lfs merge=lfs -text
3rdParty/ogre/lib/libOgreOverlay.so.1.12.12 filter=lfs diff=lfs merge=lfs -text
3rdParty/ogre/lib/libOgrePaging.so filter=lfs diff=lfs merge=lfs -text
3rdParty/ogre/lib/libOgrePaging.so.1.12.12 filter=lfs diff=lfs merge=lfs -text
3rdParty/ogre/lib/libOgreBites.so filter=lfs diff=lfs merge=lfs -text
3rdParty/ogre/lib/libOgreMain.so.1.12.12 filter=lfs diff=lfs merge=lfs -text
3rdParty/ogre/lib/libOgreOverlay.so filter=lfs diff=lfs merge=lfs -text
3rdParty/ogre/lib/libOgreProperty.so.1.12.12 filter=lfs diff=lfs merge=lfs -text
3rdParty/ogre/lib/libOgreMeshLodGenerator.so filter=lfs diff=lfs merge=lfs -text
3rdParty/ogre/lib/libOgreProperty.so filter=lfs diff=lfs merge=lfs -text
3rdParty/ogre/lib/libOgreRTShaderSystem.so filter=lfs diff=lfs merge=lfs -text
3rdParty/ogre/lib/libOgreRTShaderSystem.so.1.12.12 filter=lfs diff=lfs merge=lfs -text
3rdParty/ogre/lib/libOgreTerrain.so.1.12.12 filter=lfs diff=lfs merge=lfs -text
3rdParty/ogre/lib/libOgreVolume.so filter=lfs diff=lfs merge=lfs -text
